html {
    background: radial-gradient(circle, rgba(34, 193, 195, 1) 0%, rgba(55, 45, 253, 1) 100%);
}

body {
    margin: 0 auto;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid aquamarine;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
        0 0 0 30px rgba(0, 0, 0, 0.1),
        inset 0 0 40px black,
        0 0 30px rgba(0, 0, 0, 0.2);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
    /* account for the height of the clock hands */
}

.hand {
    width: 50%;
    height: 6px;
    background: whitesmoke;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transition: ease-in-out;
}

.hour-hand {
    height: 8px;
}

.seconds-hand {
    height: 2px;
}